
<h3 align="center" class="follow">Follow Us On</h3>
<div class="footer-top">
	   <div class="container">
	      <div class="social-icons">
				<i class="icon fab fa-twitter"></i>
				<i class="icon fab fa-facebook"></i>
				<i class="icon fab fa-google-plus"></i>
				<i class="icon fab fa-instagram"></i>
				<i class="icon fab fa-pinterest"></i>
				<i class="icon fab fa-youtube"></i>
		   </div>
	   </div>
	</div>
	
	
	
	<div class="footer-bottom">
	    <p>Copyright © 2018. All rights reserved.</p>
	</div>


</body>
</html> 