<% include partials/header %>
<h1>SECRET PAGE</h1>

<p>HELLO SECRET USER</p>

<% user.forEach(function(i){ %>

<h1>Name : <%= i.username %>  and  Type : <%= i.type %></h1>

<% }); %>


<li><a href="/logout">Logoutttt</a></li>
<% include partials/footer %>