<% include partials/header %>

<h1>Name       : <%= data.name %></h1>
<h1>Email      :<%= data.email %></h1>
<h1>Mobile     :<%= data.phno %></h1>
<h1>Location   :<%= data.location %></h1>

<% include partials/footer %>